{% load staticfiles %}

<html>
<head>
<title>{%block head_title%} Try Django19 {%endblock head_title%}</title>
    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel='stylesheet' href="{% static 'css/base.css' %}"/>  
 {% block head_extra %}
 {% endblock head_extra %}
</head>
<body> 
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0"></script>

    {% include "messages_display.html" %}
<div class="container" >
    {% block content %}    
    {% endblock content %}
</div>

<script
  src="http://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.7.0/marked.min.js"></script>

<script type="text/javascript">
      $(document).ready(function(){
          $(".content_markdown").each(function(){
          
            var content = $(this).text()
            console.log(content)
            var markedContent = marked(content) 
            console.log(markedContent)

            $(this).html(markedContent)
          })

          $("img").each(function(){
           $(this).addClass("img-fluid")
          })
      })
    
</script>


</body>

</html>
